<mat-table #table cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="columnDropped($event)" [dataSource]="dataSource" (scroll)="onTableScroll($event)" matSort>

  <ng-container matColumnDef="checkbox">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox [color]="primary" (change)="$event ? masterToogle() :null"
      [checked]="selection.hasValue() && isAllSelected()"
      [indeterminate]="selection.hasValue() && !isAllSelected()">

      </mat-checkbox>
    </mat-header-cell>
      <mat-cell *matCellDef="let row">
      <mat-checkbox
      (change)="$event ? selection.toggle(row):null"
      [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container *ngFor="let column of columns;let i=index" [matColumnDef]="column.columnDef">
    <mat-header-cell *matHeaderCellDef mat-sort-header
    cdkDragLockAxis="x"
    cdkDragBoundary="mat-header-row"
    cdkDrag
    disabled="{{!column.isSort}}"
    ngClass="{{column.classStyle}}"
    >
      {{column.columnDef|titlecase}}
    </mat-header-cell>
    <mat-cell *matCellDef="let dataRow">
    <ng-container *ngIf="column.columnType==='DATA_POINT';">
        {{dataRow[column.columnDef]}}
    </ng-container>
    <ng-container *ngIf="column.columnType==='LABELING_TASK'">
      <ng-container *ngFor="let label of column.labels">
        <div class="flex flex-grow items-center">
          <!--first N options as buttons-->
          <div class="flex flex-row">
              <button (click)="labelClick(dataRow,label,column)"
              [ngClass]="[getHover(label.color), dataRow[column.columnDef]?(dataRow[column.columnDef]===label.id ?'shadow-lg '+getShadow(label.color)+getBackground(label.color):'bg-gray-300'):getBackground(label.color), getText(label.color), getBorder(label.color)]"
                  class="text-sm font-medium mr-3 px-2 py-0.5 rounded-md border">
                  <label
                      class="leading-5 truncate max-w-xs cursor-pointer mx-4">{{label.name}}
                  </label>
              </button>
          </div>
          </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="column.columnType==='PREDICTION'">

    </ng-container>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns">
  </mat-row>
</mat-table>
