
mat-table{
  overflow: auto;
  max-height: 80vh;
  scrollbar-width: none;
  -ms-overflow-style: none;

}
mat-header-row{
  z-index: 16;
  background-color: white;

}

mat-table::-webkit-scrollbar{
  display: none;

}
