<mat-table #table cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="columnDropped($event)" [dataSource]="dataSource" (scroll)="onTableScroll($event)" matSort>

  <ng-container matColumnDef="checkbox">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox [color]="primary" (change)="$event ? masterToogle() :null"
      [checked]="selection.hasValue() && isAllSelected()"
      [indeterminate]="selection.hasValue() && !isAllSelected()">

      </mat-checkbox>
    </mat-header-cell>
      <mat-cell *matCellDef="let row">
      <mat-checkbox
      (click) = "$event.stopPropagation()"
      (change)="$event ? selection.toggle(row):null"
      [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container *ngFor="let column of columns;let i=index" [matColumnDef]="column.columnDef">
    <mat-header-cell *matHeaderCellDef mat-sort-header
    cdkDragLockAxis="x"
    cdkDragBoundary="mat-header-row"
    cdkDrag
    disabled="{{!column.isSort}}"
    >
      {{column.header|titlecase}}
    </mat-header-cell>
    <mat-cell *matCellDef="let dataRow">
      {{dataRow[column.columnDef]?? "sample test"}}
    </mat-cell>
  </ng-container>


  <!-- <ng-container matColumnDef="index">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{"index"|titlecase}}</mat-header-cell>
    <mat-cell *matCellDef="let dataRow">{{dataRow.index}} </mat-cell>
  </ng-container>
  <ng-component matColumnDef="content">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{"content"|titlecase}}</mat-header-cell>
    <mat-cell *matCellDef="let dataRow">{{dataRow.content}}</mat-cell>
  </ng-component>
  <ng-container matColumnDef="humanLabel">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{"human label"|titlecase}}</mat-header-cell>
    <mat-cell *matCellDef="let dataRow">{{dataRow.humanLabel}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="predictions">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{"predictions"|titlecase}} </mat-header-cell>
    <mat-cell *matCellDef="let dataRow">{{dataRow.predictions}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{"status"|titlecase}}
    </mat-header-cell>
    <mat-cell *matCellDef="let dataRow">{{dataRow.status}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="more">
    <mat-header-cell *matHeaderCellDef>
      {{"more"|titlecase}}
    </mat-header-cell>
    <mat-cell *matCellDef="let dataRow">more </mat-cell>
  </ng-container> -->
  <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"
  (click)="selection.toggle(row)"></mat-row>
</mat-table>
