<mat-table #table cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="columnDropped($event)" [dataSource]="dataSource" (scroll)="onTableScroll($event)" matSort>

  <ng-container matColumnDef="checkbox">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox [color]="primary" (change)="$event ? masterToogle() :null"
      [checked]="selection.hasValue() && isAllSelected()"
      [indeterminate]="selection.hasValue() && !isAllSelected()">

      </mat-checkbox>
    </mat-header-cell>
      <mat-cell *matCellDef="let row">
      <mat-checkbox
      (click) = "$event.stopPropagation()"
      (change)="$event ? selection.toggle(row):null"
      [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container *ngFor="let column of columns;let i=index" [matColumnDef]="column.columnDef">
    <mat-header-cell *matHeaderCellDef mat-sort-header
    cdkDragLockAxis="x"
    cdkDragBoundary="mat-header-row"
    cdkDrag
    disabled="{{!column.isSort}}"
    ngClass="{{column.classStyle}}"
    >
      {{column.header|titlecase}}
    </mat-header-cell>
    <mat-cell *matCellDef="let dataRow">
      {{dataRow.data[column.columnDef]?? "sample test"}}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"
  (click)="selection.toggle(row)"></mat-row>
</mat-table>
